.notes {
  width: 100%;
  position: absolute;
  top: 5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--primary);
  p {
    text-align: left;
  }
}

.filter {
  width: 100%;
  span {
    float: left;
    font-style: italic;
  }
}

.container,
.favorites {
  margin-bottom: 5rem;
  column-count: 2;
  column-gap: 1rem;
}

.message {
  padding: 30rem auto;
  font-size: 22px;
  line-height: 2rem;
}

.favorites {
  margin: 1rem auto;
}
