.container {
  background-color: var(--primary);
  position: absolute;
  top: 0;
  padding: 6rem 1rem;
  width: 100%;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba($color: #eee, $alpha: 0.1);
  border-radius: 6px;
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
  div {
    cursor: pointer;
  }
  span {
    text-align: center;
    vertical-align: middle;
  }
  div > a {
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5rem;
    &:hover {
      background-color: rgba($color: #eee, $alpha: 0.1);
    }
  }
}
.title {
  padding: 0 1rem;
  font-size: 18px;
  text-transform: capitalize;
}

.delete {
  color: var(--third);
}

.message {
  display: flex;
  flex-direction: column;
  span {
    margin: 0.5rem;
  }
}

.edit {
  width: 100%;
  height: 95vh;
  position: fixed;
  top: 0rem;
  left: 0;
  display: none;
  background-color: var(--primary);
}

.open {
  display: inline-block;
}
.cancelBtn {
  position: relative;
  top: 82vh;
  width: 90%;
  height: 3rem;
  border: 2px solid #eee;
  border-radius: 6px;
  background-color: var(--primary);
  cursor: pointer;
}
