.container {
  position: absolute;
  top: 0;
  padding: 6rem 1rem;
  background-color: var(--primary);
  width: 100%;
}
.reminder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba($color: #eee, $alpha: 0.1);
  border-radius: 6px;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  align-items: center;
  cursor: pointer;
  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    div {
      display: flex;
      h3 {
        margin-bottom: 0.5rem;
        font-size: 16px;
        text-transform: capitalize;
      }
      h4 {
        font-size: 12px;
        font-style: italic;
      }
    }
    span {
      padding: 0.5rem;
    }
  }
}
.delete {
  padding: 0.5rem;
  color: var(--third);
  cursor: pointer;
  border-radius: 50%;
  &:hover {
    background-color: rgba($color: #eee, $alpha: 0.1);
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div {
    flex-direction: column;
  }
}

@media screen and (min-width: 640px) {
  .reminder {
    width: 80%;
    margin: 0 auto 1rem auto;
    div {
      div {
        h3 {
          font-size: 1.1rem;
        }
        h4 {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .reminder {
    width: 49%;
    margin: 0;
    margin-bottom: 1rem;
  }
}
