.app {
  width: 100%;
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: var(--primary);
    border-bottom: 1px solid var(--third);
    div {
      display: flex;
      align-items: center;
      height: 3rem;
      margin: 1rem;
      span {
        font-size: 18px;
        font-weight: 700;
      }
      a {
        img {
          height: 3rem;
        }
      }
    }
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: var(--primary);
    z-index: 1;
    bottom: 0;
    height: 4rem;
    box-shadow: 0 0 4px 1px rgba($color: #eee, $alpha: 0.1);
    ul {
      font-family: "Comfortaa";
      background-color: transparent;
      border: none;
      width: 33%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      margin: auto 0;
      &:not(:last-child) {
        border-right: solid 1px var(--third);
      }
    }
    a {
      text-decoration: none;
      display: flex;
      flex-direction: column-reverse;
    }
    span {
      font-size: 16px;
      margin: 0.2rem;
    }
  }
}
