.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login > div {
  width: 100%;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
}

.presentation {
  text-align: start;
  font-size: 1rem;
  line-height: 1.8rem;
}

.images {
  position: relative;
  width: 50%;
}

#blob,
#blob1 {
  position: absolute;
}

#blob {
  height: 30rem;
  width: auto;
  top: -10%;
  left: 20%;
}

#blob1 {
  height: 30rem;
  width: auto;
  top: -10rem;
  left: 0rem;
}

#noteIcon {
  position: absolute;
  left: 20%;
  height: 20rem;
  width: auto;
  z-index: 1;
}

h1 {
  margin: 1rem 0;
}

.loginBtn {
  border-radius: 6px;
  width: 10rem;
  padding: 0.5rem 1rem;
  border: 0px;
  cursor: pointer;
  margin-top: 5rem;
  background-color: #4285f4;
  img {
    width: 2.2rem;
    height: auto;
    border-radius: 50%;
    background-color: #eee;
  }
}

.disabled {
  cursor: not-allowed;
}
p {
  font-size: 12px;
  margin-top: 0.5rem;
}

@media screen and (max-width: 480px) {
  #blob {
    height: 30rem;
    width: auto;
    top: -10%;
    left: -50%;
  }

  #blob1 {
    height: 30rem;
    width: auto;
    top: -10rem;
    left: -20%;
  }
}
