:root {
  --primary: #1b1717;
  --secondary: #810000;
  --third: #ce1212;
  --fourth: #eeebdd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
}

body {
  font-family: "Comfortaa", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  text-align: center;
  background-color: var(--primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
